body.dark-theme {
  /* confirmed */
  /* Global */
  --color-bg: #191919;
  --color-text: #ffffff;
  --color-secondary-text: #a7a7a7;
  --color-solid-heading: #42446e;

  /* Navbar */
  --color-navbar-content: #a7a7a7;

  /* Chip Color */
  --color-button-text: #018c0f;
  --color-button-success: #d7ffe0;

  /* Card Colors */
  --color-card-bg: #363636;
  --color-card-title: #cccccc;
  --color-card-text: #cccccc;
  --color-card-techstack-text: #cccccc;
  --color-card-links-text: #ffffff;

  /* About Me Card Divider */
  --color-aboutme-card-divider-line: #a7a7a7;

  /* Icon Color */
  --color-icon-color: invert(1);

  /* Button Color */
  --color-primary-btn-text: #ffffff;
  --color-primary-btn-bg: #0d6efd;
  --color-primary-btn-bg-hover: #0b5ed7;

  /* Input Bar Color */
  --color-input-bar-text: #eae8ee;
  --color-input-bar-bg: #2a2731;
}
